<%- include('./partials/header.ejs'); %>
<body>
    <%- include('./partials/navbar.ejs'); %>
    <div class="container">
        <div class="card" id="formulario-perguntas">
            <div class="card-header">
                <h3>Realizar Pergunta</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/salvarpergunta">
                    <label for="">Titulo</label>
                    <input name="titulo" type="text" placeholder="titulo" class="form-control" required>
                    <br>
                    <label for="">Descrição</label>
                    <textarea name="descricao" id="" cols="30" rows="10" placeholder="Insira sua pergunta"  class="form-control" required></textarea>
                    <br>
                    <button class="btn btn-success">Enviar</button>
                </form>
            </div>
        </div>
        
    </div>

</body>
<%- include('./partials/footer.ejs'); %>